@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao meu CRUD</h1>
    <p>Aprenda mais em: <a href="https://github.com/mafixx">Construção de Web Apps e etc</a>.</p>
</div>
